<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401791148998-ece5isfjrc8ojhtqekb0r5faurp2q452.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401791148998-ece5isfjrc8ojhtqekb0r5faurp2q452</string>
	<key>API_KEY</key>
	<string>AIzaSyA-jgDTeZCcow00NpKkFWKy4Nx3wN2o5LI</string>
	<key>GCM_SENDER_ID</key>
	<string>401791148998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nerdtech.vpn</string>
	<key>PROJECT_ID</key>
	<string>nerd-vpn-305cc</string>
	<key>STORAGE_BUCKET</key>
	<string>nerd-vpn-305cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401791148998:ios:1c858c3dbd8896cd1608c7</string>
</dict>
</plist>